@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Space+Mono:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.spaceMonoFont {
  font-family: 'Space Mono', monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.max_width {
  max-width: 1440px;
  margin: 0 auto;
}

.frames_bg{
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
}


.frames_bg_np_sm_wwr {
  background-position: left 9%;
}
.frames_bg_wwr__jorp {
  background-position: left -13%;
}
.frames_bg_jorp_vuiasnu {
  background-position: left -315px;
}


.frame1_bg {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame8_bg {
  position: relative;
  background-position: right 15% bottom 45%;
  background-repeat: no-repeat;
  background-size: auto;
}

.opacity_bg{
  background: rgba(30, 30, 30, 0.95);
}

@media only screen and (max-width: 1024px){
  .frames_bg_np_sm_wwr, .frames_bg_wwr__jorp, .frames_bg_jorp_vuiasnu{
    background-image: none;
  }
}

@media only screen and (max-width: 768px){
  .display_none{
    display: none;
  }
}